body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3b4d3b; /* military green */
  font-family: "Arial Black", sans-serif;
  color: white;
}
canvas {
  border: 3px solid black;
  display: block;
}
#hud {
  margin-top: 10px;
  font-size: 18px;
}
